.questions {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    @include title;
  }

  &__list {
    @include list-reset;
    margin-top: 60px;
  }

  &__item {
    border: 1px solid $dark-orange;
    padding: 50px 40px;
    padding-bottom: 25px;
    min-width: 970px;
  }
}
