.user {
  &__list {
    @include list-reset;
    display: flex;
  }

  &__item {
    margin-left: 35px;
  }

  &__button {
    @include button-style;
  }

  &__input {
    margin-left: 15px;
    border: none;
    padding: 0;
  }
}
