$desktop-width: 1023px;
$tablet-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$dark-orange: #a87b62;
$brown: #4e4949;
$beige: #f0eae4;
$dark-grey: #1d1613;
$grey: #9b9997;
$white: #ffffff;
$black: #000000;
